#app {
  height: 100vh;
  background: linear-gradient(#128C7E 15%, #d9dbd6 15%);
}

#left-section.col-4 {
  height: 800px;
}

#right-section.col-8 {
  height: 800px;
  background-image: url(".././img/mine.jpg");
}

header {
  height: 10%;
  background-color: #eaeaea;
}

i {
  color: #b1b1b1;
}

span.d-block,
a.d-block,
#search input {
  color: #6b739b;
  font-size: 0.7rem;
}

#notifications {
  height: 70px;
  background-color: #8edafc;
}

i.fa-bell-slash {
  background-color: #fff;
  color: #8edafc;
  padding: 15px 12px;
}

#contacts {
  height: 606px;
  overflow-y: scroll;
}

.contact {
  height: 70px;
  background-color: #e9ebeb;
}

#right-section main {
  height: 670px;
  overflow-y: scroll;
}

#right-section footer {
  height: 50px;
  background-color: #f3eeea;
  color: #6b7376;
}

#right-section footer i {
  color: #6b7376;
  padding: 0 20px;
}

#right-section input {
  font-size: 0.75rem;
}

#messages .offset-7 {
  background-color: #d5f9ba;
}

#messages .offset-1 {
  background-color: #ffffff;
}