/* Utils */
.ms-h-45px {
  height: 45px;
}

.ms-h-90vh {
  height: 90vh;
}

.ms-text-primary {
  font-size: 0.9rem;
}

.ms-text-secondary {
  font-size: 0.7rem;
  color: #6b739b;
}

.clickable {
  cursor: pointer;
}

.ms-text-username {
  font-weight: 500;
}

.ms-box-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


/* Generics */
#app {
  height: 100vh;
  background: linear-gradient(#128C7E 17%, #d9dbd6 17%);
}

i {
  color: #b1b1b1;
}

header {
  height: 10vh;
  background-color: #eaeaea;
}

header .fas {
  font-size: 1.3rem;
}


/* Left Section*/
#notifications {
  height: 11vh;
  background-color: #8edafc;
}

i.fa-bell-slash {
  background-color: #fff;
  color: #8edafc;
  padding: 15px 12px;
}

#contacts {
  height: calc(90vh - 21vh - 45px);
  overflow-y: auto;
}

.contact {
  height: 11vh;
}

.contact:hover {
  background-color: #e9ebeb;
}

/* Right Section */
#right-section.col-8 {
  background-image: url(".././img/mine.jpg");
}

#right-section main {
  height: calc(90vh - 10vh - 50px);
  overflow-y: auto;
}

#messages {
  padding: 5% 10%;
}

.message-container {
  display: flex;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.message-container.sent .message {
  background-color: #d5f9ba;
}

.message-container.received .message {
  background-color: #ffffff;
}

.message {
  border-radius: 15px;
}

.message span.d-block {
  color: #b6bfbb;
}

#right-section footer {
  height: 50px;
  background-color: #f3eeea;
  color: #6b7376;
}

#right-section footer i {
  color: #6b7376;
  padding: 0 20px;
}
