<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/plugin/customParseFormat.js"></script>
  <script src="./js/users.js"></script>
  <title>Boolzapp</title>
</head>
<body>
  <div id="app">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <!-- Left Section -->
        <div id="left-section" class="col-4 p-0 bg-white ms-h-95vh">
          <!-- Header -->
          <header class="d-flex justify-content-between ps-2">
            <div class="user h-100 d-flex align-items-center">
              <img :src="`${picUrl+user.avatar}.jpg`" :alt="user.name" class="h-75 rounded-circle">
              <span>{{ user.name }}</span>
            </div>
            <div class="action h-100 d-flex align-items-center">
              <i class="fas fa-circle-notch pe-4"></i>
              <i class="fas fa-comment-alt pe-4"></i>
              <i class="fas fa-ellipsis-v pe-4"></i>
            </div>
          </header>

          <!-- Main -->
          <main>
            <!-- Notifications -->
            <section id="notifications" class="d-flex align-items-center">
              <i class="fas fa-bell-slash mx-3 rounded-circle"></i>
              <div>
                <span>Ricevi notifiche di nuovi messaggi</span>
                <a href="#" class="d-block ms-text-secondary">Attiva notifiche desktop</a>
              </div>
            </section>
            <!-- Search -->
            <section id="search">
              <nav class="navbar navbar-light bg-light ms-h-45px">
                <form class="container-fluid">
                  <div class="input-group">
                    <span class="input-group-text bg-white border-0" id="basic-addon1">
                      <i class="fas fa-search"></i>
                    </span>
                    <input type="text" v-model="searchedContact" @input="searchContact" class="form-control border-0 ms-text-secondary" placeholder="Cerca o inizia una nuova chat">
                  </div>
                </form>
              </nav>
            </section>
            <!-- Contacts -->
            <section id="contacts">
              <div v-for="(contact, index) in filteredContacts" @click="setCurrentUser(index)" class="contact clickable d-flex align-content-center flex-wrap border-top border-light">
                <img :src="`${picUrl+contact.avatar}.jpg`" :alt="contact.name" class="h-75 rounded-circle px-3">
                <span>{{ contact.name }}</span>
              </div>
            </section>
          </main>
        </div>

        <!-- Right Section -->
        <div id="right-section" class="col-8 p-0 ms-h-95vh">
          <!-- Header -->
          <header class="d-flex justify-content-between ps-2">
            <div class="user h-100 d-flex align-items-center">
              <img :src="`${picUrl + filteredContacts[currentUser].avatar}.jpg`" alt="avatar_1" class="h-75 rounded-circle me-3">
              <div>
                <span>{{ filteredContacts[currentUser].name }}</span>
                <span class="d-block ms-text-secondary">Ultimo accesso oggi alle</span>
              </div>
            </div>
            <div class="action h-100 d-flex align-items-center">
              <i class="fas fa-search pe-4"></i>
              <i class="fas fa-paperclip pe-4"></i>
              <i class="fas fa-ellipsis-v pe-4"></i>
            </div>
          </header>

          <!-- Main -->
          <main>
            <section id="messages">
              <div v-for="item in filteredContacts[currentUser].messages" class="message-container" :class="item.status">
                <div class="message col-5 pt-3 px-3 pb-2 my-2">
                  <span>{{ item.message }}</span>
                  <span class="d-block text-end ms-text-secondary">{{ item.date }}</span> 
                </div>
              </div>
            </section>       
          </main>

          <!-- Footer -->
          <footer class="d-flex align-items-center justify-content-around">
            <span><i class="far fa-smile"></i></span>
            <input type="text" @keyup.enter="createMessage(currentUser), createAutoMessage(currentUser)" v-model="messageText" class="form-control border-0 h-75 ms-text-secondary" placeholder="Scrivi un messaggio">
            <span><i class="fas fa-microphone"></i></span>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/script.js"></script>
</body>
</html>